body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    font-size: 1em;
}

a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.navTop, .navBottom {
    background-color: rgb(255, 183, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo, .copyright {
    padding-left: 50px;
}

.links, .navBottomLinks {
    padding-right: 50px;
}

.navBottom {
    padding: 10px;
}

.navBottomLinks {
    font-size: 0.75em;
}

.hero {
    width: 100%;
     height: 500px;
}

.heroImage{
    background-image: url(../images/hero-image.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.heroText, .recipeHeroText {
    position: absolute;
    bottom: 70px;
    left: 430px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 900;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.everyday, .healthy, .where {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.everydayImages, .healthyImages, .whereImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px 0px 15px;
}

.everyday, .where {
    width: 80%;
    padding: 20px;
}

.breakfast, .vegetarian, .cold, .fajita, .muffins, .eggplant, .teriyaki, .sandwiches, .pizza, .city {
    width: 300px;
    height: 200px;
    background-size: cover;
}

.breakfast {
    background-image: url(../images/breakfast-ideas.jpg);
    margin: 15px;
}

.vegetarian {
    background-image: url(../images/vegetarian-ideas.jpg);
    margin: 15px;
}

.cold {
    background-image: url(../images/cold-weather-dinners.jpeg);
    margin: 15px;
}

.everydayCaption, .healthyCaption, .whereCaption {
    display: flex;
    flex-direction: row;
}

.healthy {
    background-color: lightgray;
    padding: 20px;
}

.healthyBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.healthyImages {
    width: 100%;
}

.fajita {
    background-image: url(../images/fajita-peppers.jpeg);
    margin: 15px;
}

.muffins {
    background-image: url(../images/muffins.jpeg);
    margin: 15px;
}

.eggplant {
    background-image: url(../images/eggplant-parmesan.jpg);
    margin: 15px;
}

.teriyaki {
    background-image: url(../images/teriyaki-chicken.jpeg);
    margin: 15px;
}

.sandwiches {
    background-image: url(../images/burger.jpg);
    margin: 15px;
}

.pizza {
    background-image: url(../images/pizza.jpeg);
    margin: 15px;
}

.city {
    background-image: url(../images/city-bowl.jpeg);
    margin: 15px;
}

.recipeHero {
    width: 100%;
    height: 500px;
}

.recipeHeroImage {
    background-image: url(../images/better-bengal-burger.jpeg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    background-position-y: center;
}

.time {
    background-color: lightgray;
    padding-top: 15px;
}

.time p {
    margin: 0;
    padding-left: 225px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 1.5em;
}

.timeBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightgray;
    justify-content: space-evenly;
    padding: 0px 0px 20px 0px;
}

.timeBox p {
    margin: 0;
}

.timeBox span {
    font-weight: 600;
}

.timeColOne, .timeColTwo {
    display: flex;
    flex-direction: column;
}

.timeColOne span, .timeColTwo span {
    font-weight: 600;
}

.recipeMain {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

.recipeTop {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.recipeTop p:nth-of-type(1) {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.recipeTop p:nth-of-type(2) {
    text-align: center;
    margin: 5px 10px;
}

.stars {
    color: darkred;
}

.recipeButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 30px;
}

i {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.recipeQuote {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15em;
}

.recipeQuote h3 {
    width: 70%;
    opacity: 60%;
}

.recipeBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
}

.ingredients {
    width: 45%;
}

.ingredients h2, .directions h2 {
    font-size: 1.75em;
    font-weight: 900;
}

.ingredients span, .directions span {
    font-weight: 600;
}

.directions {
    width: 55%;
}

video {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 400px;
    margin: 30px auto;
}
