body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.navTop, .navBottom {
    background-color: rgb(255, 183, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo, .copyright {
    padding-left: 50px;
}

.links, .navBottomLinks {
    padding-right: 50px;
}

.navBottom {
    padding: 10px;
}

.navBottomLinks {
    font-size: 15px;
}

.hero {
    width: 100%;
     height: 500px;
}

.heroImage{
    background-image: url(../images/hero-image.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.heroText {
    position: absolute;
    bottom: 70px;
    left: 450px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding: 5px 10px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.everyday, .healthy, .where {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.everydayImages, .healthyImages, .whereImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.everyday, .where {
    width: 90%;
}

.breakfast, .vegetarian, .cold, .fajita, .muffins, .eggplant, .teriyaki, .sandwiches, .pizza, .city {
    width: 300px;
    height: 200px;
    background-size: cover;
}

.breakfast {
    background-image: url(../images/breakfast-ideas.jpg);
}

.vegetarian {
    background-image: url(../images/vegetarian-ideas.jpg);
}

.cold {
    background-image: url(../images/cold-weather-dinners.jpeg);
}

.healthy {
    background-color: lightgray;
}

.healthyBody {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fajita {
    background-image: url(../images/fajita-peppers.jpeg);
}

.muffins {
    background-image: url(../images/muffins.jpeg);
}

.eggplant {
    background-image: url(../images/eggplant-parmesan.jpg);
}

.teriyaki {
    background-image: url(../images/teriyaki-chicken.jpeg);
}

.sandwiches {
    background-image: url(../images/burger.jpg);
}

.pizza {
    background-image: url(../images/pizza.jpeg);
}

.city {
    background-image: url(../images/city-bowl.jpeg);
}